<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>채팅</title>
  <link rel="stylesheet" href="../static/css/chat.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="../static/js/chat.js"></script>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
</head>

<body>
  
  <div id="main">
    <div id="chat">
      여행어때
      <!-- 채팅 메시지 영역 -->
    </div>
    <div>
      <input class="text" type="text" id="test" placeholder="메시지를 입력해주세요..">
      <button class="btn" onclick="send();">전송</button>
    </div>
  </div>
</body>

</html>