<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행어때</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    
    <div class="banner">
        <span style="width: 100px; height: 20; color: white; font-weight: bold;">겨울에도</span>
        <a href="http://localhost:8000/" class="logo" title="여행어때">여행어때</a>
        <a href="http://localhost:8000/login" class="login">로그인</a>
    </div>

    <div class="snowflakes" aria-hidden="true">
    <div class="intro"><a href="https://codeconvey.com">Codeconvey.com</a></div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    </div>

    <div align="center">
        <div class="map">
            <img src="../static/img/btn.png" alt="seoul"  class="btn seoul-btn">
            <p class="seoul-text">서울/인천/경기</p>
            <img src="../static/img/btn.png" alt="jejudo" class="btn jejudo-btn">
            <p class="jejudo-text">제주도</p>
            <img src="../static/img/btn.png" alt="gangwon" class="btn gangwon-btn">
            <p class="gangwon-text">강원</p>
            <img src="../static/img/btn.png" alt="chungbuk" class="btn chungbuk-btn">
            <p class="chungbuk-text">충북/세종</p>
            <img src="../static/img/btn.png" alt="chungnam" class="btn chungnam-btn">
            <p class="chungnam-text">충남/대전</p>
            <img src="../static/img/btn.png" alt="jeonbuk" class="btn jeonbuk-btn">
            <p class="jeonbuk-text">전북/전남/광주</p>
            <img src="../static/img/btn.png" alt="degu" class="btn degu-btn">
            <p class="degu-text">경북/대구/울산</p>
            <img src="../static/img/btn.png" alt="busan" class="btn busan-btn">
            <p class="busan-text">경남/부산</p>
        </div>
    </div>
</body>
</html>