<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 | 여행어때</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">❅</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
  </div>
  
  <div class="login-div">
    <a href="http://localhost:8000/" class="login-logo" title="여행어때">여행어때</a>
    <form id="login-form">
      <br>
      <input class="login-input" type="text" name="id" placeholder="아이디">
      <br>
      <br>
      <input class="login-input" type="text" name="pw" placeholder="비밀번호">
      <br>
      <br>
      <button class="login-btn" type="button" onclick="login();">로그인</button>
      <br>
      <br>
      <a href="http://localhost:8000/signup" style="text-decoration-line : none; color: black;">회원가입</a>
    </form>
    <br>
    <a href="/user/login/kakao"><img src="/static/img/kakao_login_medium_wide.png" id="login-kakao" alt="카카오 로그인"></a>
  </div>

  <script>
    function login() {
      let form = document.getElementById("login-form");
      axios({
        method: 'post',
        url: '/user/login',
        data: {
          id: form.id.value,
          pw: form.pw.value
        }
      }).then((res) => {
        if (res.data) {
          alert("로그인 성공")
          document.location.href = '/';
        } else {
          alert("로그인 실패")
          form.reset();
        }
      })
    }

  </script>

</body>

</html>