<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 | 여행어때</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <form action="form" class="signup-form">
        <p class="signup-p">안녕하세요. <br>여행어때에 오신 것을 환영합니다.</p>
        <br>
        <br>
        <input class="login-input" type="text" placeholder="아이디">
        <br>
        <br>
        <input class="login-input" type="text" placeholder="비밀번호">
        <br>
        <br>
        <input class="login-input" type="text" placeholder="닉네임">
        <br>
        <br>
        프로필을 올려주세요. <input type="file" placeholder="프로필">
        <br>
        <br>
        <button type="button" class="login-btn">회원가입</button>
    </form>
    
</body>
</html>