<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경북/대구/울산 | 여행어때</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="shortcut icon" href="../static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../static/css/train.css">
  
</head>

<body>
  <div class="banner2">
    <img src="../static/img/avatar2.png" alt=""">
  </div>
  <div class=" banner">
    <span style="width: 100px; height: 20; color: white; font-weight: bold;">겨울에도</span>
    <a href="http://localhost:8000/" class="logo" title="여행어때">여행어때</a>
    <a href="http://localhost:8000/post/view_post" class="community">커뮤니티</a>
    <a href="http://localhost:8000/search" class="search">여행지 리스트</a>
    <a href="http://localhost:8000/worldCup" class="worldCup">여행지 월드컵</a>
    <a href="http://localhost:8000/user/login" class="login">로그인</a>
    <a class="logout">로그아웃</a>
  </div>

  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">❅</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❅</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❆</div>
    <div class="snowflake">❄</div>
  </div>

  <div class="div-padding"></div>
  <div style="text-align: center;">
    <button class="train-btn" id="region" type="button" value="11" onclick="selectBig(this.value)">서울특별시</button>
    <button class="train-btn" id="region" type="button" value="23" onclick="selectBig(this.value)">인천광역시</button>
    <button class="train-btn" id="region" type="button" value="31" onclick="selectBig(this.value)">경기도</button>
    <button class="train-btn" id="region" type="button" value="32" onclick="selectBig(this.value)">강원도</button>
    <br>
    <button class="train-btn" id="region" type="button" value="25" onclick="selectBig(this.value)">대전광역시</button>
    <button class="train-btn" id="region" type="button" value="12" onclick="selectBig(this.value)">세종특별시</button>
    <button class="train-btn" id="region" type="button" value="33" onclick="selectBig(this.value)">충청북도</button>
    <button class="train-btn" id="region" type="button" value="34" onclick="selectBig(this.value)">충청남도</button>
    <br>
    <button class="train-btn" id="region" type="button" value="26" onclick="selectBig(this.value)">울산광역시</button>
    <button class="train-btn" id="region" type="button" value="24" onclick="selectBig(this.value)">광주광역시</button>
    <button class="train-btn" id="region" type="button" value="35" onclick="selectBig(this.value)">전라북도</button>
    <button class="train-btn" id="region" type="button" value="36" onclick="selectBig(this.value)">전라남도</button>
    <br>
    <button class="train-btn" id="region" type="button" value="21" onclick="selectBig(this.value)">부산광역시</button>
    <button class="train-btn" id="region" type="button" value="22" onclick="selectBig(this.value)">대구광역시</button>
    <button class="train-btn" id="region" type="button" value="37" onclick="selectBig(this.value)">경상북도</button>
    <button class="train-btn" id="region" type="button" value="38" onclick="selectBig(this.value)">경상남도</button>
  </div>

  <div id="station" ><span>출발지</span></div>
  <div id="arrstation" ><span>도착지</span></div>
  <form action="" style="text-align: center;">
    출발지코드:<input type="text" id="start" onclick="">
    도착지코드:<input type="text" id="end">
    <button onclick="searchTrain()">검색</button>

  </form>

  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script>
    function selectBig(clicked_value){
      var station = document.getElementById('station');
      station.innerText = '';

      var xhr = new XMLHttpRequest();
      var url = 'http://apis.data.go.kr/1613000/TrainInfoService/getCtyAcctoTrainSttnList'; /*URL*/
      var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'iwTiqJHCRqEIdoWj%2F4g58Sj89y5bOUhHGhMZPRwH5CBPJOyxUiTArkIf0k1ah%2BUm2N%2BMJ3jGziROL2wUBo%2BuGg%3D%3D'; /*Service Key*/
      queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
      queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('100'); /**/
      queryParams += '&' + encodeURIComponent('_type') + '=' + encodeURIComponent('xml'); /**/
      queryParams += '&' + encodeURIComponent('cityCode') + '=' + encodeURIComponent(clicked_value); /**/
      xhr.open('GET', url + queryParams);
      xhr.onreadystatechange = function () {
          if (this.readyState == 4) {
              console.log('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
              var xml = xhr.responseXML;

              var nodeid = xml.getElementsByTagName("nodeid");
              var nodename = xml.getElementsByTagName("nodename");

              for(let i = 0; i < 100; i++) {
               var a = nodeid[i].firstChild.nodeValue;
               var b = nodename[i].firstChild.nodeValue;

               console.log("조합",a + "," + b);
// 출발지 버튼 생성
              var station = document.getElementById("station"); //div안에 버튼 담기
              var btn = document.createElement("button");
              btn.innerText = b;
              btn.className = "train-btn";
              btn.id = a;
              btn.value = a;
              btn.setAttribute("onClick", "depatureBtn(this)");

              station.appendChild(btn);

              console.log(btn);

// 도착지 버튼 생성
               var arrstation = document.getElementById("arrstation"); //div안에 버튼 담기
               var btn = document.createElement("button");
               btn.innerText = b;
               btn.className = "train-btn";
               btn.id = a;
               btn.value = a;
               btn.setAttribute("onClick", "arriveBtn(this)");

               arrstation.appendChild(btn);
               
               console.log(btn);
              }
              // var nodeid = xml.querySelectorAll("nodeid").nodeValue;
          }
      };
      // console.log('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);

      xhr.send('');
    //   var request = require('request');

    // var url = 'http://apis.data.go.kr/1613000/TrainInfoService/getCtyAcctoTrainSttnList';
    // var queryParams = '?' + encodeURIComponent('serviceKey') + '=서비스키'; /* Service Key*/
    // queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /* */
    // queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('10'); /* */
    // queryParams += '&' + encodeURIComponent('_type') + '=' + encodeURIComponent('xml'); /* */
    // queryParams += '&' + encodeURIComponent('cityCode') + '=' + encodeURIComponent(clicked_value); /* */

    // request({
    //     url: url + queryParams,
    //     method: 'GET'
    // }, function (error, response, body) {
    //     console.log('Status', response.statusCode);
    //     console.log('Headers', JSON.stringify(response.headers));
    //     console.log('Reponse received', body);
    // });
    }
function searchTrain(){
  var departure = document.getElementById('start');

  var xhr = new XMLHttpRequest();
  var url = 'http://apis.data.go.kr/1613000/TrainInfoService/getStrtpntAlocFndTrainInfo'; /*URL*/
  var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'iwTiqJHCRqEIdoWj%2F4g58Sj89y5bOUhHGhMZPRwH5CBPJOyxUiTArkIf0k1ah%2BUm2N%2BMJ3jGziROL2wUBo%2BuGg%3D%3D'; /*Service Key*/
  queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('2'); /**/
  queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('10'); /**/
  queryParams += '&' + encodeURIComponent('_type') + '=' + encodeURIComponent('xml'); /**/
  queryParams += '&' + encodeURIComponent('depPlaceId') + '=' + encodeURIComponent(departure.value); /**/
  queryParams += '&' + encodeURIComponent('arrPlaceId') + '=' + encodeURIComponent('NAT011668'); /**/
  queryParams += '&' + encodeURIComponent('depPlandTime') + '=' + encodeURIComponent('20211201'); /**/
  queryParams += '&' + encodeURIComponent('trainGradeCode') + '=' + encodeURIComponent('00'); /**/
  xhr.open('GET', url + queryParams);
  xhr.onreadystatechange = function () {
      if (this.readyState == 4) {
          console.log('Status: '+this.status+'nHeaders: '+xml.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
      }
  };
  
  xhr.send('');
}
function depatureBtn(obj) {
  var stn = obj.value;
  console.log(stn);

  var start = document.getElementById("start");
  start.value = stn;

  var classrename = document.getElementsByClassName("train-btn").setAttribute("onClick", "arriveBtn(this)");

  console.log(classrename);



}
  </script>
</body>

</html>