@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ansungtangmyun-ESG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-ESG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* --------------------------------------------------------- */
*{
    font-family: 'Ansungtangmyun-ESG';
}
body {
    background: white;
}

.intro,
.intro a {
    color: #fff;
}

.d-none {
    display: none;
}

/* customizable snowflake styling */
.snowflake {
    color: #B2CCFF;
    font-size: 2em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.logo {
    line-height: 150px;
    width: 800px;
    font-family: 'CWDangamAsac-Bold';
    font-size: 70px;
    text-decoration-line: none;
    color: white;
    text-align: center;
    text-shadow: 6px 4px 1px rgb(130, 138, 255);
}

.banner {
    z-index: 2;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #B2CCFF;
    text-align: center;
    border-bottom-left-radius:100%

}
.banner2 {
    height:200px; width : 100px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.div-padding {
    padding: 200px 200px 0 200px;
}
.comment-padding {
    padding: 0 200px 0 200px;
}

.community {
    position: fixed;
    top: 65px;
    right: 270px;
    text-decoration-line: none;
    color: white;
    font-weight: bold;

}

.search {
    position: fixed;
    top: 65px;
    right: 390px;
    text-decoration-line: none;
    color: white;
    /* display: none; */
    font-weight: bold;

}

.worldCup {
    position: fixed;
    top: 65px;
    right: 150px;
    text-decoration-line: none;
    color: white;
    font-weight: bold;

}

/* .myPage {
    position: fixed;
    top: 65px;
    right: 150px;
    text-decoration-line: none;
    color: white;
} */

.login {
    position: fixed;
    top: 65px;
    right: 50px;
    text-decoration-line: none;
    color: white;
    font-weight: bold;

}

.logout {
    position: fixed;
    top: 65px;
    right: 50px;
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn {
    /* z-index: 1; */
    width: 80px;
    height: 80px;
}

.copyright {
    
    width: 100%;
    background-color:darkslategray;
}
.copyright-info{
    color: white; font-family: 'Courier New', Courier, monospace;
        padding: 20px; width: fit-content;
}
.copyright-text {
    font-size: 15px; padding: 20px;
        color: gray;
}